/*Style Variables*/
:root{
	--background-color: #181818;
	--black: #000;
	--white: #fff;
	--text-color: #4a4a4a;
	--color: #22c65b;
}

/*Menu Drawer*/
body div#root .main-content .menu-drawer{
	width: 40%;
	min-height: 100%;
	background-color: var(--background-color);
	box-shadow: -5px -5px 12px var(--black);
	padding: 50px;
	position: absolute;
	right: -580px;
	z-index: 999;
	transition: right 0.5s ease-in;
}
body div#root .main-content .menu-drawer .header{
	width: 100%;
	padding: 10px;
}
body div#root .main-content .menu-drawer .header .cancel{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	
}
body div#root .main-content .menu-drawer .header .cancel p{
	color: var(--white);
	font-size: 30px;
}
body div#root .main-content .menu-drawer nav ul li{
	position: relative;
	padding: 30px 0;
}
body div#root .main-content .menu-drawer nav ul li:hover{
	border-right: 5px solid var(--color);
}
body div#root .main-content .menu-drawer nav ul li a p:nth-child(1){
	color: var(--white);
	font-size: 30px;
}
body div#root .main-content .menu-drawer nav ul li a p:nth-child(1):hover{
	color: var(--color);
}
body div#root .main-content .menu-drawer nav ul li a p{
	color: var(--text-color);
}

/*Main Header*/
header .menu-split{
	display: flex;
}
header .menu-split .split-left{
	flex-grow: 1;
}
header .menu-split .split-right .menu-toggle{
	width: 100%;
}
header .menu-split .split-right .menu-toggle .am-menu-toggle{
	width: 55px;
	height: 55px;
	position: relative;
}
header .menu-split .split-right .menu-toggle .am-menu-toggle .am-menu-item{
	width: 100%;
	height: 1px;
	background: #fff;
	margin: 10px auto;
	transition: all 0.5s ease-in;
}
header .menu-split .split-right .menu-toggle .am-menu-toggle:hover
header .menu-split .split-right .menu-toggle .am-menu-toggle .am-menu-item{
	background: var(--color);
}