:root{
    --color: #22c65b;
    --background-color: #181818;
    --container: 90%; 
	--text-color: #4a4a4a;
}

.app{
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0;
}
.grey{
	color: var(--text-color)!important;
}
.am-left{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-content: strech;
}
.white{
    color: #ffffff;
}
.main-content{
    margin-bottom: 20px;
}
.app-content, .page-id{
    display: inline-block;
}
.app-content{
	width: 100%;
	height: calc(400-125);
    margin: 30px auto;
}
.page-id h1{
    font-size: 15px;
    transform: rotate(-90deg);
}
header{
	padding: 30px 5px;
}
.am-container{
    width: var(--container);
    margin: 0 auto
}
.btn{
	padding: 20px;
	margin: 20px 10px;
	text-align: center;
	color: var(--white);
}
.main-color{
    color: var(--color);
}
.am-bold{
    font-weight: bold;
}
.am-bolder{
    font-weight: bolder;
}
.am-small{
	font-size: 13px;
}
.am-capitalize{
    text-transform: capitalize;
}
.am-norm{
	text-transform: lowercase;
}
.am-center{
    text-align: center;
}
.open{
    right: 0!important;
}